/******************************/
/* All pages basic css style  */
/******************************/
body{
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  max-width: 100%;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  color: #aaccff;
}

header {
  position: relative;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

header img {
  width: 100%;
  height: auto;
  max-height:450px;
}

footer {
  text-align: center;
  color: white;
  margin-top: 10px;
  background-color: black;
  border-style: groove;
  border-width: thick;
}

footer h3 {
  text-decoration: underline;
}

footer a {
  color: lightblue;
}

footer a:visited {
  color: orange;
}

button {
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  font-size:15px;
  float: right;
  text-decoration: none;
  margin: 0px 10px;
  cursor: pointer;
}

button:hover {
  background-color: lightgreen;
  color: black;
}
/******************************/
/******************************/

/******************************/
/******************************/

/******************************/
/*        Navigation         */
/******************************/
nav {
  border: 3px solid #C13100;
  background-color: darkblue;
  float: left;
  width: 99.75%;
  z-index: 1;
}

ul {
  padding: 0;
  margin: 0 auto;
  background-color: darkblue;
  float: left;
  list-style-type: none;
}

.home img {
  width: 25px;
  height: 20px;
  filter: invert(1);
}

li ul {
    position: absolute;
    top: -9000px;
    border: 3px solid #C13100;
    background-color: darkblue;
}

li:hover ul {
  top: auto;
}

li {
  float: left;
  position: relative;
}

.bar {
  width: 235px;
  position: relative;
}

.home {
  padding: 12px 20px;
  width: 75px;
  float: left;
  position: relative;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 20px;
}

li a:hover {
  background-color: lightblue;
  color: black;
}

ul ul ul {
  margin-left: 250px;
}
/******************************/
/******************************/

/******************************/
/*         Home Page          */
/******************************/
.home-header h1 {
  top: 55%;
}

.home-main p{
  font-size: 20px;
}

.home-main h1{
  color:orange;
}

.home-main h2{
  color: #0ccc42;
}

.home-header h1 img {
  width: 42px;
  height: 42px;
  filter: brightness(0) invert(1);
}

.h-game-img{
  width:10%;
  height:10%;
}

.h-aug-img {
  width:30%;
  height:10%;
}

.h-aug-img2 {
  width:20%;
  height:10%;
}

#disclaimer{
  color: darkblue;
}
/******************************/
/******************************/

/******************************/
/*         Game Page          */
/******************************/
.gp-body {
    background-image: url("../img/g-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gp-header h1 {
  top: 30%;
  color: red;
}

#container {
  text-align: center;
}

#container h1 {
  text-shadow: 2px 2px red;
  font-size: 4em;
}

.gp-main{
  text-align: center;
  margin: 50px 0px;
}

.games {
  border: 5px solid red;
  border-radius: 50px;
  margin: 50px 20%;
  padding: 40px;
  background-color: #191552;  /*dark blue*/
}

img.g-background {
  width: 100%;
  height: auto;
  max-height:450px;
}

.games h2{
  color: red;
  text-decoration: underline;
}

.games img {
  float: left;
  position: relative;
  width: 100px;
  height: 150px;
  padding: 0px 10px;
}

/******************************/
/******************************/

/*******************************************/
/*         Augmented-Reality Page          */
/*******************************************/
.ar-main {
  text-align: center;
  margin: 5px 5px;
}

.ar-main h1 {
  color: orange;
  padding-top: 80px;
}

.ar-main p {
  margin: 0px 300px;
}

.ar-main img {
  height: 200px;
  width: 150px;
}

.row {
  padding: 15px 50px;
  display: flex;
  justify-content: space-around;
}

.ar-col {
  padding: 0px 100px;
}

.block {
  border: 10px ridge orange;
  margin: 50px 50px;
  padding: 20px;
}

.ar-button{
  float:none;
}
/******************************/
/******************************/

/*************************************/
/*         Programming Page          */
/*************************************/
.p-body {
  background-image:url('../img/matrix.jpg');
}

.p-main-div {
  margin-top: 60px;
  background-color: black;
  border-style: groove;
  border-width: thick;
}

.p-main-div h1, .p-main-div h2 {
  color: #0ccc42;
}

.p-main-div img {
  height: 500px;
  width: 80%;
  float: none;
}

.p-main {
  text-align: center;
}

.lang {
  display:table; margin:0 auto;
}

.lang-list{
  list-style-type: disc;
  background-color: black;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.p-button{
  float: none;
}/******************************/
/******************************/

/*************************************/
/*         Gear Page                 */
/*************************************/
.ge-main {
  text-align: center;
}

.ge-main h1 {
  padding-top: 60px;
  color: yellow;
}

.ge-row {
  padding: 15px 50px;
  display: flex;
  justify-content: space-around;
}

.ge-col {
  padding: 0px 100px;
}

.gear img {
  height: 250px;
  width: 250px;
}

.ge-col p {
  width: 300px;
}

.ge-button {
  float: none;
}

/******************************/
/******************************/

/*************************************/
/*         About Us Page             */
/*************************************/
.about-main{
  text-align: center;
  margin:5% 15%;
}

.us{
  border:5px solid white;
  margin:25px 10px;
}

.pages{
  display:table; margin:0 auto;
}

.pages-list{
  list-style-type: disc;
  background-color: black;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.about-main h1, .about-main h2 {
  color: yellow;
}
/******************************/
/******************************/

/*************************************/
/*         Buy Now Page              */
/*************************************/
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  font-size:15px;
  float: none;
  text-decoration: none;
  margin: 0px 10px;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/******************************/
/******************************/


/*  Luke Murdock and Adam McNown
both collaborated in the design and layout
of the style.css file. */
